<!doctype_html>
<html lang="{{ LANGUAGE_CODE }}">
{% load pages_tags mezzanine_tags i18n staticfiles product %}

<head>
  <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/png" href="{% static " images/favicon.ico " %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  {% compress js %}
  <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-3.0.1.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  {% endcompress %}
  {% compress css %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
  <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  {% endcompress %}
</head>

<body>
  <div class="container container-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container" id="main-nav-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-content" aria-expanded="false">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="{% static "images/CBD-banner.png" %}" id="img-cbd-banner" />
          </a>
        </div>
        <div class="collapse navbar-collapse" id="navigation-content">
          <div class="clearfix">
            <div class="pull-right" id="nav-wrapper">
              <ul class="nav navbar-nav" role="tablist">
                <li>
                  <a href="#buy-now">Buy Now</a>
                </li>
                <li class="hidden-xs hidden-sm">
                  <img src="{% static "images/separator-star.png" %}" class="center-block img-responsive star" />
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#pupcakes">Our Pup Cakes</a>
                    </li>
                    <li>
                      <a href="#ddlp">Dr. Doo's Little PupCakery</a>
                    </li>
                  </ul>
                </li>
                <li class="hidden-xs hidden-sm">
                  <img src="{% static "images/separator-star.png" %}" class="center-block img-responsive star" />
                </li>
                <li>
                  <a href="#faq">FAQs</a>
                </li>
                <li class="hidden-xs hidden-sm">
                  <img src="{% static "images/separator-star.png" %}" class="center-block img-responsive star" />
                </li>
                <li>
                  <a href="#contact">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container" id="pup-cakes-banner">
      <div class="row">
        <div class="col-xs-6">
          <img src="{% static "images/pup-cakes.png" %}" class="img img-responsive center-block" />
        </div>
        <div class="col-xs-6">
          <img src="{% static "images/doo-head.png" %}" class="img img-responsive center-block" id="doo-head" />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row min-height-width">
        <div class="col-xs-12 separator">

        </div>
      </div>
    </div>
    <div class="container nobg" id="buy-now">
      <div class="row">
        <div class="col-md-12">
          <h3>BUY SECTION</h3>
          <div>
            {%block main %} {% product %} {% endblock main %}
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row min-height-width">
        <div class="col-xs-12 separator">

        </div>
      </div>
    </div>
    <div class="container lightbg" id="pupcakes">
      <div class="row">
        <div class="col-md-12">
          <h3>ABOUT OUR PUP CAKES</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum ullamcorper arcu id accumsan. Maecenas
            interdum, neque sed vehicula molestie, nunc neque pellentesque tortor, blandit iaculis ipsum sem ut orci. Curabitur
            laoreet finibus leo, vel porta dolor dapibus a. Sed nec tortor eleifend, ultrices leo ac, venenatis nibh. Morbi
            faucibus odio at tellus cursus, vel facilisis dui consectetur. Nullam ornare gravida ex, a pulvinar lacus mattis
            vel. Aliquam laoreet vitae augue vitae posuere. Aliquam erat volutpat. Vivamus vel turpis mauris. Nunc sem urna,
            consequat in placerat ut, posuere ut enim. Aliquam mauris nibh, laoreet vitae venenatis vel, imperdiet vel tellus.
            Nam magna tellus, ultricies eu feugiat ut, egestas commodo lacus. Curabitur pulvinar id justo vestibulum rutrum.
            Sed eu mauris non nisl cursus pellentesque sed eget orci.</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row min-height-width">
        <div class="col-xs-12 separator">

        </div>
      </div>
    </div>
    <div class="container nobg" id="ddlp">
      <div class="row">
        <div class="col-md-12">
          <h3>ABOUT DR DOO'S LITTLE PUPCAKERY</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum ullamcorper arcu id accumsan. Maecenas
            interdum, neque sed vehicula molestie, nunc neque pellentesque tortor, blandit iaculis ipsum sem ut orci. Curabitur
            laoreet finibus leo, vel porta dolor dapibus a. Sed nec tortor eleifend, ultrices leo ac, venenatis nibh. Morbi
            faucibus odio at tellus cursus, vel facilisis dui consectetur. Nullam ornare gravida ex, a pulvinar lacus mattis
            vel. Aliquam laoreet vitae augue vitae posuere. Aliquam erat volutpat. Vivamus vel turpis mauris. Nunc sem urna,
            consequat in placerat ut, posuere ut enim. Aliquam mauris nibh, laoreet vitae venenatis vel, imperdiet vel tellus.
            Nam magna tellus, ultricies eu feugiat ut, egestas commodo lacus. Curabitur pulvinar id justo vestibulum rutrum.
            Sed eu mauris non nisl cursus pellentesque sed eget orci.</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row min-height-width">
        <div class="col-xs-12 separator">

        </div>
      </div>
    </div>
    <div class="container lightbg" id="ddlp">
      <div class="row">
        <div class="col-md-12">
          <h3>FREQUENTLY ASKED QUESTIONS</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum ullamcorper arcu id accumsan. Maecenas
            interdum, neque sed vehicula molestie, nunc neque pellentesque tortor, blandit iaculis ipsum sem ut orci. Curabitur
            laoreet finibus leo, vel porta dolor dapibus a. Sed nec tortor eleifend, ultrices leo ac, venenatis nibh. Morbi
            faucibus odio at tellus cursus, vel facilisis dui consectetur. Nullam ornare gravida ex, a pulvinar lacus mattis
            vel. Aliquam laoreet vitae augue vitae posuere. Aliquam erat volutpat. Vivamus vel turpis mauris. Nunc sem urna,
            consequat in placerat ut, posuere ut enim. Aliquam mauris nibh, laoreet vitae venenatis vel, imperdiet vel tellus.
            Nam magna tellus, ultricies eu feugiat ut, egestas commodo lacus. Curabitur pulvinar id justo vestibulum rutrum.
            Sed eu mauris non nisl cursus pellentesque sed eget orci.</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row min-height-width">
        <div class="col-xs-12 separator">

        </div>
      </div>
    </div>
    <div class="container nobg" id="contact">
      <div class="row">
        <div class="col-md-12">
          <h3>CONTACT US</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum ullamcorper arcu id accumsan. Maecenas
            interdum, neque sed vehicula molestie, nunc neque pellentesque tortor, blandit iaculis ipsum sem ut orci. Curabitur
            laoreet finibus leo, vel porta dolor dapibus a. Sed nec tortor eleifend, ultrices leo ac, venenatis nibh. Morbi
            faucibus odio at tellus cursus, vel facilisis dui consectetur. Nullam ornare gravida ex, a pulvinar lacus mattis
            vel. Aliquam laoreet vitae augue vitae posuere. Aliquam erat volutpat. Vivamus vel turpis mauris. Nunc sem urna,
            consequat in placerat ut, posuere ut enim. Aliquam mauris nibh, laoreet vitae venenatis vel, imperdiet vel tellus.
            Nam magna tellus, ultricies eu feugiat ut, egestas commodo lacus. Curabitur pulvinar id justo vestibulum rutrum.
            Sed eu mauris non nisl cursus pellentesque sed eget orci.</p>
        </div>
      </div>
    </div>
  </div>
  {% compress js %}
  <script type="text/javascript" src="{% static 'js/ddlp.js' %}"></script>
  {% endcompress %}
  {% compress css %}
  <link rel="stylesheet" href="{% static 'css/ddlp.css' %}">
  {% endcompress %}
</body>

</html>