
<!doctype_html>
<html lang="{{ LANGUAGE_CODE }}">
  {% load pages_tags mezzanine_tags i18n staticfiles product %}
  <head>
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="{% static "images/favicon.ico" %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-3.0.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% compress css %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="{% static "css/styles.css" %}">
    {% endcompress %}
  </head>
    <body>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container" id="main-nav-container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-content" aria-expanded="false">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{% static "images/CBD-banner.png" %}" id="img-cbd-banner" /></a>
          </div>
          <div class="collapse navbar-collapse" id="navigation-content">
            <div class="clearfix">
              <div class="pull-right" id="nav-wrapper">
                <ul class="nav navbar-nav">
                  <li><a href="#">Buy Now</a></li>
                  <li class="hidden-xs"><img src="{% static "images/separator-star.png" %}" class="center-block img-responsive star" /></li>
                  <li><a href="#">About</a></li>
                  <li class="hidden-xs"><img src="{% static "images/separator-star.png" %}" class="center-block img-responsive star" /></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div class="container" id="pup-cakes-banner">
        <div class="row">
          <div class="col-xs-6">
            <img src="{% static "images/pup-cakes.png" %}" class="img img-responsive center-block" />
          </div>
          <div class="col-xs-6">
              <img src="{% static "images/doo-head.png" %}" class="img img-responsive center-block" />
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row min-height-width">
          <div class="col-xs-12 separator">

          </div>
        </div>
      </div>
      <div class="container lightbg">
        <div class="row">
          <div class="col-md-12">
            {% block main %}
              {% product %}
            {% endblock %}
          </div>
        </div>
      </div>
        <!--<div class="container nav content">
          <div class="row">
            <div class="col-md-3 col-xs-3">
              <img src="{% static "images/CBD-banner.png" %}" id="img-cbd-banner" class="img-responsive" />
            </div>
            <div class="col-md-9 col-xs-8 col-xs-offset-1">
              <div class="well" style="background-color: #837467;border: none">
                <div class="row">
                  <div class="col-md-3 col-xs-3 text-center button" >Buy Now</div>
                  <div class="col-md-1 col-xs-1 text-center">
                    <img src="{% static "images/separator-star.png" %}" class="center-block img-responsive star">
                  </div>
                  <div class="col-md-3 col-xs-3 text-center button">About</div>
                  <div class="col-md-1 col-xs-1">
                    <img src="{% static "images/separator-star.png" %}" class="center-block img-responsive star">
                  </div>
                  <div class="col-md-3 col-xs-3 text-center button">Contact Us</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <img src="{% static "images/pup-cakes.png" %}" class="img-responsive" style="padding-top: 50px;padding-left: 5.5em;top: -2em; position: relative" />
            </div>
            <div class="col-md-6">
              <img src="{% static "images/doo-head.png" %}" class="img-responsive pull-right" style="padding-right: 2em;top: -2.7em;position: relative" />
            </div>
          </div>
      </div>
      <div class="container content">
        <div class="row min-height-width">
          <div class="col-md-12 separator">
          </div>
        </div>
        <div class="row" style="min-height: 200px;">
          <div class="col-md-3">
              <img src="{% static "images/packaging.png" %}" class="img-responsive block-center" style="padding-top: 2em; padding-bottom: 2em;margin: 0 auto" />
          </div>
          <div class="col-md-9">
            <h1 class="text-center">Peanut Butter and Pumpkin - 16oz</h1>
            <div class="well" style="font-size: 1.2em">This is the product description. This is the product description. This is the product description. This is the product description. This is the product description. This is the product description. This is the product description. This is the product description. This is the product description. </div>
            <div class="form-group">
              <label class="col-md-2 form-label" for="purchase-quantity" style="font-size: 1.4em">Quantity</label>
              <div class="col-md-2">
                <input type="number" class="form-control" id="purchase-quantity" value="1" min="1" step="1" style="font-size: 1.4em" />
              </div>
              <div class="col-md-2">
                <button class="btn btn-warning buybutton">BUY</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container content">
        <div class="row min-height-width">
          <div class="col-md-12 separator"></div>
        </div>
        <div class="row lightbg">
          <div class="col-md-9">
            <h1 class="text-center">About Dr Doo's Pup Cakes</h1>
            <div class="well" style="font-size: 1.2em">
              This is about the pup cakes. This is about the pup cakes. This is about the pup cakes. This is about the pup cakes. This is about the pup cakes. This is about the pup cakes. This is about the pup cakes. This is about the pup cakes. This is about the pup cakes. This is about the pup cakes. This is about the pup cakes. This is about the pup cakes. This is about the pup cakes.
            </div>
          </div>
          <div class="col-md-3">
            cool picture bro!
          </div>
        </div>
      </div>
      <div class="container content">
        <div class="row min-height-width">
          <div class="col-md-12 separator"></div>
        </div>
        <div class="row" style="min-height: 200px;">
          <div class="col-md-12">
            <h1 class="text-center">Contact Us</h1>
            <p>This is the contact paragraph. This is the contact paragraph. This is the contact paragraph. This is the contact paragraph. This is the contact paragraph. This is the contact paragraph. This is the contact paragraph. This is the contact paragraph. This is the contact paragraph. </p>
            <textarea class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div class="container content">
        <div class="row min-height-width">
          <div class="col-md-12 separator"></div>
        </div>
        <div class="row darkbg">
          <div class="col-md-4">
            <div class="center-block" style="width: 14em;font-size: 2em;color: #fff;padding-top: 2em;padding-left: 1em">
              PO Box 123<br />
              Detroit, MI 12345
            </div>
          </div>
          <div class="col-md-4">
            <img src="{% static "images/dr-doos-footer-logo.png" %}" class="center-block img-responsive" style="padding-top:1em;" />
          </div>
          <div class="col-md-4">
            <div class="center-block" style="width: 14em;font-size:2em;color:#fff;padding-top:2em;text-align:right;padding-right: 2em;">
              <span class="fa fa-phone" aria-hidden="true"></span>&nbsp;313-555-1212<br />
              <span class="fa fa-envelope" aria-hidden="true"></span>&nbsp;info@doctordoos.com
            </div>
          </div>
        </div>
      </div>-->
  </body>
</html>
