<!doctype_html>
<html lang="{{ LANGUAGE_CODE }}">
{% load pages_tags mezzanine_tags i18n staticfiles product %}

<head>
  <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/png" href="{% static "images/favicon.ico" %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  {% compress js %}
  <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-3.0.1.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  {% endcompress %}
  {% compress css %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
  <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  {% endcompress %}
</head>

<body>
  <div class="container container-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container" id="main-nav-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-content" aria-expanded="false">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="{% static "images/CBD-banner.png" %}" id="img-cbd-banner" />
          </a>
        </div>
        <div class="collapse navbar-collapse" id="navigation-content">
          <div class="clearfix">
            <div class="pull-right" id="nav-wrapper">
              <!-- TODO: put this into an include -->
              <ul class="nav navbar-nav" role="tablist">
                <li>
                  <a href="{% if request.path != '/' %}/{% endif %}#buy-now">Buy Now</a>
                </li>
                <li class="hidden-xs hidden-sm">
                  <img src="{% static "images/separator-star.png" %}" class="center-block img-responsive star" />
                </li>
                <li>
                  <a href="{% if request.path != '/' %}/{% endif %}#about">About</a>
                </li>
                <li class="hidden-xs hidden-sm">
                  <img src="{% static "images/separator-star.png" %}" class="center-block img-responsive star" />
                </li>
                <li>
                  <a href="{% if request.path != '/' %}/{% endif %}#faq">FAQs</a>
                </li>
                <li class="hidden-xs hidden-sm">
                  <img src="{% static "images/separator-star.png" %}" class="center-block img-responsive star" />
                </li>
                <li>
                  <a href="{% if request.path != '/' %}/{% endif %}#contact">Contact Us</a>
                </li>
                <!-- include -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container" id="pup-cakes-banner">
      <div class="row">
        <div class="col-xs-6">
          <img src="{% static "images/pup-cakes.png" %}" class="img img-responsive center-block" />
        </div>
        <div class="col-xs-6">
          <img src="{% static "images/doo-head.png" %}" class="img img-responsive center-block" id="doo-head" />
        </div>
      </div>
    </div>
    {% block product %}
    <div class="container">
      <div class="row min-height-width">
        <div class="col-xs-12 separator">

        </div>
      </div>
    </div>
    <div class="container nobg ddlp-content" id="buy-now">
      <div class="row">
        <div class="col-md-12">
          <div>
            {% block main %}{% product %}{% endblock main %}
          </div>
        </div>
      </div>
    </div>
    {% endblock product %}
    {% block about %}
    {% endblock about %}
    {% block faq %}
    {% endblock faq %}
    {% block contact %}
    {% endblock contact %}
  </div>
  {% compress js %}
  <script type="text/javascript" src="{% static 'js/ddlp.js' %}"></script>
  {% endcompress %}
  {% compress css %}
  <link rel="stylesheet" href="{% static 'css/ddlp.css' %}">
  {% endcompress %}
</body>

</html>