{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n static product %}

{% block about %}
<div class="container">
    <div class="row min-height-width">
        <div class="col-xs-12 separator"></div>
    </div>
</div>
<div class="container lightbg ddlp-content" id="about">
    <img src="{% static 'images/heading-text-about.png' %}" class="img img-responsive center-block" />
    {{ about_page.richtextpage.content|safe }}
</div>
{% endblock about %}

{% block faq %}
<div class="container">
    <div class="row min-height-width">
        <div class="col-xs-12 separator"></div>
    </div>
</div>
<div class="container nobg ddlp-content" id="faq">
    <img src="{% static 'images/heading-text-faqs.png' %}" class="img img-responsive center-block" />
    <ul class="list-group faq-list-group">
    {% for faq in faqs %}
        <li class="list-group-item faq-list-group-item"><a role="button" data-toggle="collapse" href="#faq-collapse-{{ faq.id }}" aria-expanded="false" aria-controls="faq-collapse-{{ faq.id }}">{{ faq.question }}</a></li>
        <div class="collapse faq-answer" id="faq-collapse-{{ faq.id }}">{{ faq.answer|safe }}</div>
    {% endfor %}
    </ul>
</div>
{% endblock faq %}

{% block contact %}
<div class="container">
    <div class="row min-height-width">
        <div class="col-xs-12 separator"></div>
    </div>
</div>
<div class="container lightbg ddlp-content" id="contact">
    <img src="{% static 'images/heading-text-contactus.png' %}" class="img img-responsive center-block" />
    <div class="row">
        <div class="col-md-6">
            {{ contactus_page.richtextpage.content|safe }}
        </div>
        <div class="col-md-6">
            Please send all feedback to <a href="mailto:feedback@doctordoos.com?subject=PupCake Feedback">feedback@doctordoos.com</a>.
            {% comment %}{{ feedbackform }}{% endcomment %}
        </div>
    </div>
</div>
{% endblock contact %}